.food-card{
    display: flex;
    flex-direction: column;
   gap: .3rem;
    cursor: pointer;
    width: 100%;
   border-radius: 15px;
   position: relative;
   margin: auto;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.food-img{
    width: 100%;
    height: 150px;
    
    object-fit: cover;
    
}
.food-img img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  
}
.food-content{
    display: flex;
    flex-direction: column;
    
    gap: 0.5rem;
    
    padding: 1rem;
}

.food-content h3{
    font-size: 1.2rem;
    font-weight: 500;
}
.food-content p{
    font-size: .7rem;
    font-weight: 400;
    color: #676767;
   
}
.food-content h4{
    font-size: 1.2rem;
    font-weight: 500;
    color: #0A4354;
}

.plus-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38%;
    right: 7%;
    border: none;
}
.plus-container .main-plus{
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    width: 1.8rem;
    font-size: .8rem;
    height: 1.8rem;
    border-radius: 60%;
    
    padding: .3rem;
}
.plus-minus-con{
    display: flex;
    flex-direction: row;
    gap: .4rem;
    background: rgba(255, 255, 255, 0.8);
    padding: .3rem .3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    width: 85px;
}
.minus{
    border: none;
    background-color: rgba(200, 0, 0, 0.4);
    width: 1.5rem;
    font-size: .8rem;
    height: 1.5rem;
    border-radius: 50%;
    color: red;
    padding: .3rem;
    outline: none;
 
}

.plus{
   
    border: none;
    background-color: rgba(0, 255, 0, 0.4);
    width: 1.5rem;
    font-size: .8rem;
    height: 1.5rem;
    border-radius:50%;
    color: green;
    padding: .3rem;
    outline: none;
}
.plus-minus-con span{
   font-size: .7rem;
}