@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 font-family: 'Outfit', sans-serif;
}

body{
  min-height: 100vh;

}

hr{
  border: none;
  height: 1px;
  background: #a9a9a9;
}

a{
  text-decoration: none;
}

.app{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  
}