@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Major+Mono+Display&display=swap');
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 5rem;
}
.nav-container .logo,.profile-img{
    width: max(6%, 50px);
}

.nav-container h1{
    font-family: 'Major Mono Display', sans-serif;
    font-size: 2.8rem;
    color: #0A4354;
    margin-left: 1rem;
}


@media screen and (max-width: 768px) {
    .nav-container{
        padding: .3rem 2rem;
    }
    .nav-container h1{
        font-size: 2rem;
    }
    .nav-container .logo,.profile-img{
        width: max(6%, 40px);
    }
    
}

@media screen and (max-width: 595px) {
    .nav-container{
        padding: .3rem 2rem;
    }
    .nav-container h1{
        font-size: 1.8rem;
    }
    .nav-container .logo,.profile-img{
        width: max(6%, 40px);
    }
    
}
@media screen and (max-width: 4000px){
    .nav-container h1{
        font-size: 1.3rem;
    }
}

@media  screen and (max-width: 360px) {
    .nav-container h1{
        font-size: 1.5rem;
    }
    .nav-container{
        padding: .3rem 1rem;
    }
    .nav-container .logo,.profile-img{
        width: max(6%, 30px);
    }
    
}
@media  screen and (max-width: 300px) {
    .nav-container h1{
        font-size: 1rem;
    }
    .nav-container{
        padding: .3rem 1rem;
    }
    .nav-container .logo,.profile-img{
        width: max(6%, 30px);
    }
    
}

