.menu-section{
   
    width: 80%;
    margin: 85vh auto 2vh auto;
}

.menu-title h1{ 
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 400;
}
.menu-section hr{
    margin: 2rem  0 .8rem 0;
    border: none;
    height: 2px;
    background-color: #e2e2e2;

}



.menu-title p{
    font-size: .9rem;
    width: 60%;
}

.menu-cards{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.menu-card{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}
.menu-card img{
    width: 7rem;
    height: 7rem;
    padding: 3px;
    border-radius: 50%;
}
.menu-card h1{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: #747474;
}
.menu-card .active{
    border: 5px solid #0A4354;
    border-radius: 50%;
    
}